<div style="font-size:16px;text-indent:0;background-color:#e5e5e5;border-left:3px solid #E31515;line-height:20px;margin-bottom:5px;"><div style="display:inline-block;background-color:#f8f8f8;padding:0 6px;color:#000;">精彩推荐</div></div>
#foreach($rec in $recommends)<div style="text-indent:0;font-size:16px;line-height:1.8;padding:10px 0;#if($velocityCount < $recommends.size())background:url(http://cache.k.sohu.com/i/v1/2/033.png) repeat-x 0 bottom;#end"><a href="${rec.url}" style="text-decoration:none;color: #383838;">${rec.title}</a></div>#end
<a href="http://wildfire.chinaren.com/w/app/download"><img style="width:305px;height:48px;border:0 none;" src="http://image0.cv.itc.cn/w/news_banner.png"></a>		


